
.customize('tab-btn') {
    border-color: #b3b3b3;
    .gradient(#f2f4f6, #dbe0e2);
    .inner-highlight(#fff);

    font-weight: bold;
}

.customize('tab-btn:hover') {
    .gradient(#f2f4f6, darken(#dbe0e2, 5%));
}

.customize('tab-btn:active') {
    .gradient(darken(#f2f4f6, 5%), darken(#dbe0e2, 8%));
    .active-shadow(#dbe0e2);
    border-color: darken(#b3b3b3, 10%);
}

.customize('btn-color') {
    .btn-color();
    
    &[primary] {
        .btn-color(blue);
    }
    
    &[secondary] {
        .btn-color;
    }
    
    &[alt] {
        .btn-color(dark);
    }
    
    &[success] {
        .btn-color(green);
    }
    
    &[warning] {
        .btn-color(yellow);
    }
    
    &[danger] {
        .btn-color(red);
    }
    
} // btn-color
