// ------------------------------------------------------------
//
// Cobalt CSS Typeography & Icon Font's.
//
// ------------------------------------------------------------

@main-font: 'Open Sans', Helvetica, Arial, Sans-serif;


// Main Font
// ------------------------------------------------------------
//
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,600);

.default-font() { font-family: @main-font; }

input, textarea, select, button { font-family: inherit; }


// Cobalt Icons
// ------------------------------------------------------------
//
@font-face {
	font-family: 'cobalt-icons';
	src:url('@{cobalt-path}icons/cobalt-icons.eot');
	src:url('@{cobalt-path}icons/cobalt-icons.eot?#iefix') format('embedded-opentype'),
		url('@{cobalt-path}icons/cobalt-icons.woff') format('woff'),
		url('@{cobalt-path}icons/cobalt-icons.ttf') format('truetype'),
		url('@{cobalt-path}icons/cobalt-icons.svg#cobalt-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon-font {
	font-family: 'cobalt-icons';
	font-style: normal;
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.icon-t(@content) {
    &:before {
        content: @content;
        .icon-font; 
    }
}


// Cobalt icons
[icon="search"],      .icon-search        { .icon-t("\31"); }
[icon="pin"],         .icon-pin           { .icon-t("\32"); }
[icon="photo"],       .icon-photo         { .icon-t("\33"); }
[icon="tv-play"],     .icon-tv-play       { .icon-t("\34"); }
[icon="calendar"],    .icon-calendar      { .icon-t("\35"); }
[icon="facebook"],    .icon-facebook      { .icon-t("\36"); }
[icon="twitter"],     .icon-twitter       { .icon-t("\37"); }
[icon="left-arrow"],  .icon-left-arrow    { .icon-t("\38"); }
[icon="right-arrow"], .icon-right-arrow   { .icon-t("\39"); }
[icon="up-arrow"],    .icon-up-arrow      { .icon-t("\30"); }
[icon="down-arrow"],  .icon-down-arrow    { .icon-t("\41"); }
[icon="menu"],        .icon-menu          { .icon-t("\21"); }
[icon="cross"],       .icon-cross         { .icon-t("\22"); }


// Font Awesome Icons. 
[icon="fa-glass"],  .icon-fa-glass { .icon-t("\f000"); }
[icon="fa-music"], .icon-fa-music { .icon-t("\f001"); }
[icon="fa-search-2"], .icon-fa-search-2 { .icon-t("\f002"); }
[icon="fa-envelope"], .icon-fa-envelope { .icon-t("\f003"); }
[icon="fa-heart"], .icon-fa-heart { .icon-t("\f004"); }
[icon="fa-star"], .icon-fa-star { .icon-t("\f005"); }
[icon="fa-star-empty"], .icon-fa-star-empty { .icon-t("\f006"); }
[icon="fa-user"], .icon-fa-user { .icon-t("\f007"); }
[icon="fa-film"], .icon-fa-film { .icon-t("\f008"); }
[icon="fa-th-large"], .icon-fa-th-large { .icon-t("\f009"); }
[icon="fa-th"], .icon-fa-th { .icon-t("\f00a"); }
[icon="fa-th-list"], .icon-fa-th-list { .icon-t("\f00b"); }
[icon="fa-ok"], .icon-fa-ok { .icon-t("\f00c"); }
[icon="fa-remove"], .icon-fa-remove { .icon-t("\f00d"); }
[icon="fa-zoom-in"], .icon-fa-zoom-in { .icon-t("\f00e"); }
[icon="fa-zoom-out"], .icon-fa-zoom-out { .icon-t("\f010"); }
[icon="fa-off"], .icon-fa-off { .icon-t("\f011"); }
[icon="fa-signal"], .icon-fa-signal { .icon-t("\f012"); }
[icon="fa-cog"], .icon-fa-cog { .icon-t("\f013"); }
[icon="fa-trash"], .icon-fa-trash { .icon-t("\f014"); }
[icon="fa-home"], .icon-fa-home { .icon-t("\f015"); }
[icon="fa-file"], .icon-fa-file { .icon-t("\f016"); }
[icon="fa-time"], .icon-fa-time { .icon-t("\f017"); }
[icon="fa-road"], .icon-fa-road { .icon-t("\f018"); }
[icon="fa-download-alt"], .icon-fa-download-alt { .icon-t("\f019"); }
[icon="fa-download"], .icon-fa-download { .icon-t("\f01a"); }
[icon="fa-upload"], .icon-fa-upload { .icon-t("\f01b"); }
[icon="fa-inbox"], .icon-fa-inbox { .icon-t("\f01c"); }
[icon="fa-play-circle"], .icon-fa-play-circle { .icon-t("\f01d"); }
[icon="fa-repeat"], .icon-fa-repeat { .icon-t("\f01e"); }
[icon="fa-refresh"], .icon-fa-refresh { .icon-t("\f021"); }
[icon="fa-list-alt"], .icon-fa-list-alt { .icon-t("\f022"); }
[icon="fa-lock"], .icon-fa-lock { .icon-t("\f023"); }
[icon="fa-flag"], .icon-fa-flag { .icon-t("\f024"); }
[icon="fa-headphones"], .icon-fa-headphones { .icon-t("\f025"); }
[icon="fa-volume-off"], .icon-fa-volume-off { .icon-t("\f026"); }
[icon="fa-volume-down"], .icon-fa-volume-down { .icon-t("\f027"); }
[icon="fa-volume-up"], .icon-fa-volume-up { .icon-t("\f028"); }
[icon="fa-qrcode"], .icon-fa-qrcode { .icon-t("\f029"); }
[icon="fa-barcode"], .icon-fa-barcode { .icon-t("\f02a"); }
[icon="fa-tag"], .icon-fa-tag { .icon-t("\f02b"); }
[icon="fa-tags"], .icon-fa-tags { .icon-t("\f02c"); }
[icon="fa-book"], .icon-fa-book { .icon-t("\f02d"); }
[icon="fa-bookmark"], .icon-fa-bookmark { .icon-t("\f02e"); }
[icon="fa-print"], .icon-fa-print { .icon-t("\f02f"); }
[icon="fa-camera"], .icon-fa-camera { .icon-t("\f030"); }
[icon="fa-font"], .icon-fa-font { .icon-t("\f031"); }
[icon="fa-bold"], .icon-fa-bold { .icon-t("\f032"); }
[icon="fa-italic"], .icon-fa-italic { .icon-t("\f033"); }
[icon="fa-text-height"], .icon-fa-text-height { .icon-t("\f034"); }
[icon="fa-text-width"], .icon-fa-text-width { .icon-t("\f035"); }
[icon="fa-align-left"], .icon-fa-align-left { .icon-t("\f036"); }
[icon="fa-align-center"], .icon-fa-align-center { .icon-t("\f037"); }
[icon="fa-align-right"], .icon-fa-align-right { .icon-t("\f038"); }
[icon="fa-align-justify"], .icon-fa-align-justify { .icon-t("\f039"); }
[icon="fa-list"], .icon-fa-list { .icon-t("\f03a"); }
[icon="fa-indent-left"], .icon-fa-indent-left { .icon-t("\f03b"); }
[icon="fa-indent-right"], .icon-fa-indent-right { .icon-t("\f03c"); }
[icon="fa-facetime-video"], .icon-fa-facetime-video { .icon-t("\f03d"); }
[icon="fa-picture"], .icon-fa-picture { .icon-t("\f03e"); }
[icon="fa-pencil"], .icon-fa-pencil { .icon-t("\f040"); }
[icon="fa-map-marker"], .icon-fa-map-marker { .icon-t("\f041"); }
[icon="fa-adjust"], .icon-fa-adjust { .icon-t("\f042"); }
[icon="fa-tint"], .icon-fa-tint { .icon-t("\f043"); }
[icon="fa-edit"], .icon-fa-edit { .icon-t("\f044"); }
[icon="fa-share"], .icon-fa-share { .icon-t("\f045"); }
[icon="fa-check"], .icon-fa-check { .icon-t("\f046"); }
[icon="fa-move"], .icon-fa-move { .icon-t("\f047"); }
[icon="fa-step-backward"], .icon-fa-step-backward { .icon-t("\f048"); }
[icon="fa-fast-backward"], .icon-fa-fast-backward { .icon-t("\f049"); }
[icon="fa-backward"], .icon-fa-backward { .icon-t("\f04a"); }
[icon="fa-play"], .icon-fa-play { .icon-t("\f04b"); }
[icon="fa-pause"], .icon-fa-pause { .icon-t("\f04c"); }
[icon="fa-stop"], .icon-fa-stop { .icon-t("\f04d"); }
[icon="fa-forward"], .icon-fa-forward { .icon-t("\f04e"); }
[icon="fa-fast-forward"], .icon-fa-fast-forward { .icon-t("\f050"); }
[icon="fa-step-forward"], .icon-fa-step-forward { .icon-t("\f051"); }
[icon="fa-eject"], .icon-fa-eject { .icon-t("\f052"); }
[icon="fa-chevron-left"], .icon-fa-chevron-left { .icon-t("\f053"); }
[icon="fa-chevron-right"], .icon-fa-chevron-right { .icon-t("\f054"); }
[icon="fa-plus-sign"], .icon-fa-plus-sign { .icon-t("\f055"); }
[icon="fa-minus-sign"], .icon-fa-minus-sign { .icon-t("\f056"); }
[icon="fa-remove-sign"], .icon-fa-remove-sign { .icon-t("\f057"); }
[icon="fa-ok-sign"], .icon-fa-ok-sign { .icon-t("\f058"); }
[icon="fa-question-sign"], .icon-fa-question-sign { .icon-t("\f059"); }
[icon="fa-info-sign"], .icon-fa-info-sign { .icon-t("\f05a"); }
[icon="fa-screenshot"], .icon-fa-screenshot { .icon-t("\f05b"); }
[icon="fa-remove-circle"], .icon-fa-remove-circle { .icon-t("\f05c"); }
[icon="fa-ok-circle"], .icon-fa-ok-circle { .icon-t("\f05d"); }
[icon="fa-ban-circle"], .icon-fa-ban-circle { .icon-t("\f05e"); }
[icon="fa-arrow-left"], .icon-fa-arrow-left { .icon-t("\f060"); }
[icon="fa-arrow-right"], .icon-fa-arrow-right { .icon-t("\f061"); }
[icon="fa-arrow-up"], .icon-fa-arrow-up { .icon-t("\f062"); }
[icon="fa-arrow-down"], .icon-fa-arrow-down { .icon-t("\f063"); }
[icon="fa-share-alt"], .icon-fa-share-alt { .icon-t("\f064"); }
[icon="fa-resize-full"], .icon-fa-resize-full { .icon-t("\f065"); }
[icon="fa-resize-small"], .icon-fa-resize-small { .icon-t("\f066"); }
[icon="fa-plus"], .icon-fa-plus { .icon-t("\f067"); }
[icon="fa-minus"], .icon-fa-minus { .icon-t("\f068"); }
[icon="fa-asterisk"], .icon-fa-asterisk { .icon-t("\f069"); }
[icon="fa-exclamation-sign"], .icon-fa-exclamation-sign { .icon-t("\f06a"); }
[icon="fa-gift"], .icon-fa-gift { .icon-t("\f06b"); }
[icon="fa-leaf"], .icon-fa-leaf { .icon-t("\f06c"); }
[icon="fa-fire"], .icon-fa-fire { .icon-t("\f06d"); }
[icon="fa-eye-open"], .icon-fa-eye-open { .icon-t("\f06e"); }
[icon="fa-eye-close"], .icon-fa-eye-close { .icon-t("\f070"); }
[icon="fa-warning-sign"], .icon-fa-warning-sign { .icon-t("\f071"); }
[icon="fa-plane"], .icon-fa-plane { .icon-t("\f072"); }
[icon="fa-calendar-2"], .icon-fa-calendar-2 { .icon-t("\f073"); }
[icon="fa-random"], .icon-fa-random { .icon-t("\f074"); }
[icon="fa-comment"], .icon-fa-comment { .icon-t("\f075"); }
[icon="fa-magnet"], .icon-fa-magnet { .icon-t("\f076"); }
[icon="fa-chevron-up"], .icon-fa-chevron-up { .icon-t("\f077"); }
[icon="fa-chevron-down"], .icon-fa-chevron-down { .icon-t("\f078"); }
[icon="fa-retweet"], .icon-fa-retweet { .icon-t("\f079"); }
[icon="fa-shopping-cart"], .icon-fa-shopping-cart { .icon-t("\f07a"); }
[icon="fa-folder-close"], .icon-fa-folder-close { .icon-t("\f07b"); }
[icon="fa-folder-open"], .icon-fa-folder-open { .icon-t("\f07c"); }
[icon="fa-resize-vertical"], .icon-fa-resize-vertical { .icon-t("\f07d"); }
[icon="fa-resize-horizontal"], .icon-fa-resize-horizontal { .icon-t("\f07e"); }
[icon="fa-bar-chart"], .icon-fa-bar-chart { .icon-t("\f080"); }
[icon="fa-twitter-sign"], .icon-fa-twitter-sign { .icon-t("\f081"); }
[icon="fa-facebook-sign"], .icon-fa-facebook-sign { .icon-t("\f082"); }
[icon="fa-camera-retro"], .icon-fa-camera-retro { .icon-t("\f083"); }
[icon="fa-key"], .icon-fa-key { .icon-t("\f084"); }
[icon="fa-cogs"], .icon-fa-cogs { .icon-t("\f085"); }
[icon="fa-comments"], .icon-fa-comments { .icon-t("\f086"); }
[icon="fa-thumbs-up"], .icon-fa-thumbs-up { .icon-t("\f087"); }
[icon="fa-thumbs-down"], .icon-fa-thumbs-down { .icon-t("\f088"); }
[icon="fa-star-half"], .icon-fa-star-half { .icon-t("\f089"); }
[icon="fa-heart-empty"], .icon-fa-heart-empty { .icon-t("\f08a"); }
[icon="fa-signout"], .icon-fa-signout { .icon-t("\f08b"); }
[icon="fa-linkedin-sign"], .icon-fa-linkedin-sign { .icon-t("\f08c"); }
[icon="fa-pushpin"], .icon-fa-pushpin { .icon-t("\f08d"); }
[icon="fa-external-link"], .icon-fa-external-link { .icon-t("\f08e"); }
[icon="fa-signin"], .icon-fa-signin { .icon-t("\f090"); }
[icon="fa-trophy"], .icon-fa-trophy { .icon-t("\f091"); }
[icon="fa-github-sign"], .icon-fa-github-sign { .icon-t("\f092"); }
[icon="fa-upload-alt"], .icon-fa-upload-alt { .icon-t("\f093"); }
[icon="fa-lemon"], .icon-fa-lemon { .icon-t("\f094"); }
[icon="fa-phone"], .icon-fa-phone { .icon-t("\f095"); }
[icon="fa-check-empty"], .icon-fa-check-empty { .icon-t("\f096"); }
[icon="fa-bookmark-empty"], .icon-fa-bookmark-empty { .icon-t("\f097"); }
[icon="fa-phone-sign"], .icon-fa-phone-sign { .icon-t("\f098"); }
[icon="fa-twitter-2"], .icon-fa-twitter-2 { .icon-t("\f099"); }
[icon="fa-facebook-2"], .icon-fa-facebook-2 { .icon-t("\f09a"); }
[icon="fa-github"], .icon-fa-github { .icon-t("\f09b"); }
[icon="fa-unlock"], .icon-fa-unlock { .icon-t("\f09c"); }
[icon="fa-credit"], .icon-fa-credit { .icon-t("\f09d"); }
[icon="fa-rss"], .icon-fa-rss { .icon-t("\f09e"); }
[icon="fa-hdd"], .icon-fa-hdd { .icon-t("\f0a0"); }
[icon="fa-bullhorn"], .icon-fa-bullhorn { .icon-t("\f0a1"); }
[icon="fa-bell"], .icon-fa-bell { .icon-t("\f0a2"); }
[icon="fa-certificate"], .icon-fa-certificate { .icon-t("\f0a3"); }
[icon="fa-hand-right"], .icon-fa-hand-right { .icon-t("\f0a4"); }
[icon="fa-hand-left"], .icon-fa-hand-left { .icon-t("\f0a5"); }
[icon="fa-hand-up"], .icon-fa-hand-up { .icon-t("\f0a6"); }
[icon="fa-hand-down"], .icon-fa-hand-down { .icon-t("\f0a7"); }
[icon="fa-circle-arrow-left"], .icon-fa-circle-arrow-left { .icon-t("\f0a8"); }
[icon="fa-circle-arrow-right"], .icon-fa-circle-arrow-right { .icon-t("\f0a9"); }
[icon="fa-circle-arrow-up"], .icon-fa-circle-arrow-up { .icon-t("\f0aa"); }
[icon="fa-circle-arrow-down"], .icon-fa-circle-arrow-down { .icon-t("\f0ab"); }
[icon="fa-globe"], .icon-fa-globe { .icon-t("\f0ac"); }
[icon="fa-wrench"], .icon-fa-wrench { .icon-t("\f0ad"); }
[icon="fa-tasks"], .icon-fa-tasks { .icon-t("\f0ae"); }
[icon="fa-filter"], .icon-fa-filter { .icon-t("\f0b0"); }
[icon="fa-briefcase"], .icon-fa-briefcase { .icon-t("\f0b1"); }
[icon="fa-fullscreen"], .icon-fa-fullscreen { .icon-t("\f0b2"); }
[icon="fa-group"], .icon-fa-group { .icon-t("\f0c0"); }
[icon="fa-link"], .icon-fa-link { .icon-t("\f0c1"); }
[icon="fa-cloud"], .icon-fa-cloud { .icon-t("\f0c2"); }
[icon="fa-beaker"], .icon-fa-beaker { .icon-t("\f0c3"); }
[icon="fa-cut"], .icon-fa-cut { .icon-t("\f0c4"); }
[icon="fa-copy"], .icon-fa-copy { .icon-t("\f0c5"); }
[icon="fa-paper-clip"], .icon-fa-paper-clip { .icon-t("\f0c6"); }
[icon="fa-save"], .icon-fa-save { .icon-t("\f0c7"); }
[icon="fa-sign-blank"], .icon-fa-sign-blank { .icon-t("\f0c8"); }
[icon="fa-reorder"], .icon-fa-reorder { .icon-t("\f0c9"); }
[icon="fa-list-ul"], .icon-fa-list-ul { .icon-t("\f0ca"); }
[icon="fa-list-ol"], .icon-fa-list-ol { .icon-t("\f0cb"); }
[icon="fa-strikethrough"], .icon-fa-strikethrough { .icon-t("\f0cc"); }
[icon="fa-underline"], .icon-fa-underline { .icon-t("\f0cd"); }
[icon="fa-table"], .icon-fa-table { .icon-t("\f0ce"); }
[icon="fa-magic"], .icon-fa-magic { .icon-t("\f0d0"); }
[icon="fa-truck"], .icon-fa-truck { .icon-t("\f0d1"); }
[icon="fa-pinterest"], .icon-fa-pinterest { .icon-t("\f0d2"); }
[icon="fa-pinterest-sign"], .icon-fa-pinterest-sign { .icon-t("\f0d3"); }
[icon="fa-google-plus-sign"], .icon-fa-google-plus-sign { .icon-t("\f0d4"); }
[icon="fa-google-plus"], .icon-fa-google-plus { .icon-t("\f0d5"); }
[icon="fa-money"], .icon-fa-money { .icon-t("\f0d6"); }
[icon="fa-caret-down"], .icon-fa-caret-down { .icon-t("\f0d7"); }
[icon="fa-caret-up"], .icon-fa-caret-up { .icon-t("\f0d8"); }
[icon="fa-caret-left"], .icon-fa-caret-left { .icon-t("\f0d9"); }
[icon="fa-caret-right"], .icon-fa-caret-right { .icon-t("\f0da"); }
[icon="fa-columns"], .icon-fa-columns { .icon-t("\f0db"); }
[icon="fa-sort"], .icon-fa-sort { .icon-t("\f0dc"); }
[icon="fa-sort-down"], .icon-fa-sort-down { .icon-t("\f0dd"); }
[icon="fa-sort-up"], .icon-fa-sort-up { .icon-t("\f0de"); }
[icon="fa-envelope-alt"], .icon-fa-envelope-alt { .icon-t("\f0e0"); }
[icon="fa-linkedin"], .icon-fa-linkedin { .icon-t("\f0e1"); }
[icon="fa-undo"], .icon-fa-undo { .icon-t("\f0e2"); }
[icon="fa-legal"], .icon-fa-legal { .icon-t("\f0e3"); }
[icon="fa-dashboard"], .icon-fa-dashboard { .icon-t("\f0e4"); }
[icon="fa-comment-alt"], .icon-fa-comment-alt { .icon-t("\f0e5"); }
[icon="fa-comments-alt"], .icon-fa-comments-alt { .icon-t("\f0e6"); }
[icon="fa-bolt"], .icon-fa-bolt { .icon-t("\f0e7"); }
[icon="fa-sitemap"], .icon-fa-sitemap { .icon-t("\f0e8"); }
[icon="fa-umbrella"], .icon-fa-umbrella { .icon-t("\f0e9"); }
[icon="fa-paste"], .icon-fa-paste { .icon-t("\f0ea"); }
[icon="fa-lightbulb"], .icon-fa-lightbulb { .icon-t("\f0eb"); }
[icon="fa-exchange"], .icon-fa-exchange { .icon-t("\f0ec"); }
[icon="fa-cloud-download"], .icon-fa-cloud-download { .icon-t("\f0ed"); }
[icon="fa-cloud-upload"], .icon-fa-cloud-upload { .icon-t("\f0ee"); }
[icon="fa-user-md"], .icon-fa-user-md { .icon-t("\f0f0"); }
[icon="fa-stethoscope"], .icon-fa-stethoscope { .icon-t("\f0f1"); }
[icon="fa-suitcase"], .icon-fa-suitcase { .icon-t("\f0f2"); }
[icon="fa-bell-alt"], .icon-fa-bell-alt { .icon-t("\f0f3"); }
[icon="fa-coffee"], .icon-fa-coffee { .icon-t("\f0f4"); }
[icon="fa-food"], .icon-fa-food { .icon-t("\f0f5"); }
[icon="fa-file-alt"], .icon-fa-file-alt { .icon-t("\f0f6"); }
[icon="fa-building"], .icon-fa-building { .icon-t("\f0f7"); }
[icon="fa-hospital"], .icon-fa-hospital { .icon-t("\f0f8"); }
[icon="fa-ambulance"], .icon-fa-ambulance { .icon-t("\f0f9"); }
[icon="fa-medkit"], .icon-fa-medkit { .icon-t("\f0fa"); }
[icon="fa-fighter-jet"], .icon-fa-fighter-jet { .icon-t("\f0fb"); }
[icon="fa-beer"], .icon-fa-beer { .icon-t("\f0fc"); }
[icon="fa-h-sign"], .icon-fa-h-sign { .icon-t("\f0fd"); }
[icon="fa-plus-sign-2"], .icon-fa-plus-sign-2 { .icon-t("\f0fe"); }
[icon="fa-double-angle-left"], .icon-fa-double-angle-left { .icon-t("\f100"); }
[icon="fa-double-angle-right"], .icon-fa-double-angle-right { .icon-t("\f101"); }
[icon="fa-double-angle-up"], .icon-fa-double-angle-up { .icon-t("\f102"); }
[icon="fa-double-angle-down"], .icon-fa-double-angle-down { .icon-t("\f103"); }
[icon="fa-angle-left"], .icon-fa-angle-left { .icon-t("\f104"); }
[icon="fa-angle-right"], .icon-fa-angle-right { .icon-t("\f105"); }
[icon="fa-angle-up"], .icon-fa-angle-up { .icon-t("\f106"); }
[icon="fa-angle-down"], .icon-fa-angle-down { .icon-t("\f107"); }
[icon="fa-desktop"], .icon-fa-desktop { .icon-t("\f108"); }
[icon="fa-laptop"], .icon-fa-laptop { .icon-t("\f109"); }
[icon="fa-tablet"], .icon-fa-tablet { .icon-t("\f10a"); }
[icon="fa-mobile"], .icon-fa-mobile { .icon-t("\f10b"); }
[icon="fa-circle-blank"], .icon-fa-circle-blank { .icon-t("\f10c"); }
[icon="fa-quote-left"], .icon-fa-quote-left { .icon-t("\f10d"); }
[icon="fa-quote-right"], .icon-fa-quote-right { .icon-t("\f10e"); }
[icon="fa-spinner"], .icon-fa-spinner { .icon-t("\f110"); }
[icon="fa-circle"], .icon-fa-circle { .icon-t("\f111"); }
[icon="fa-reply"], .icon-fa-reply { .icon-t("\f112"); }
[icon="fa-github-alt"], .icon-fa-github-alt { .icon-t("\f113"); }
[icon="fa-folder-close-alt"], .icon-fa-folder-close-alt { .icon-t("\f114"); }
[icon="fa-folder-open-alt"], .icon-fa-folder-open-alt { .icon-t("\f115"); }



// Typography Styles
// ------------------------------------------------------------
//

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    color: @vdark-grey;
    line-height: @base-line-height;
    text-rendering: optimizelegibility;
}

h1, h2, h3 { line-height: (@base-line-height + 10); }


// Loop over headings and change the font-size
.heading(@num) when (@num > 0) {
    h@{num} { font-size: (@base-font-size * (3.5 - @num * .5)); }
    .heading((@num - 1));
}
.heading(6);

// Make the H6 just a tad bigger
h6 { font-size: (@base-font-size - 2); }
